<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<h1>Administration</h1>
<div>
    <button onclick="handleShowUsers()">Utilisateurs</button>
    <button onclick="handleShowProducts()">Produits</button>
    <button onclick="handleShowCategories()">Catégories</button>
</div>
<div>
    <div id="admin-users-list">
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rôle</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="u : ${users}">
                    <td th:text="${u.family_name}">name</td>
                    <td th:text="${u.name}">surname</td>
                    <td th:text="${u.email}">email</td>
                    <td th:text="${u.role}">role</td>
                    <td th:if="${u.role!='admin'}"><button th:onclick="'handleDeleteUser('+${u.id}+')'">Supprimmer</button></td>
                </tr>
            </tbody>
        </table>

        <div>
            <h2>Ajouter un utilisateur</h2>
            <input id="add-user-form-family-name" type="text" placeholder="Nom"/>
            <label for="add-user-form-family-name">Nom</label>
            <input id="add-user-form-name" type="text" placeholder="Prénom"/>
            <label for="add-user-form-name">Prénom</label>
            <input id="add-user-form-mail" type="text" placeholder="Email"/>
            <label for="add-user-form-mail">Email</label>
            <input id="add-user-form-password" type="password" placeholder="Mot de passe"/>
            <label for="add-user-form-password">Mot de passe</label>
            <select id="add-user-form-role">
                <option value="admin">Administrateur</option>
                <option value="merchant">Marchand</option>
                <option value="client">Client</option>
            </select>
            <label for="add-user-form-role">Rôle</label>
            <button onclick="handleAddUser()">Ajouter</button>
            <script>
                function handleAddUser() {
                    const name = document.getElementById('add-user-form-name').value;
                    const familyName = document.getElementById('add-user-form-family-name').value;
                    const email = document.getElementById('add-user-form-mail').value;
                    const password = document.getElementById('add-user-form-password').value;
                    const role = document.getElementById('add-user-form-role').value;

                    fetch('http://localhost:8080/admin/add/user', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({"family_name": familyName, name, email, password, role})
                    }).then(res => res.ok).then(res => {
                        console.log(res)
                        updateEventUser()
                    })
                    return false;
                }
            </script>
        </div>
    </div>

    <div id="admin-products-list" class="">
        <table class="table">
            <thead class="table-secondary">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Réference</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Stock</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="p : ${products}">
                <td ><img style="height: 5rem;" th:src="@{'/api/file/' + ${p.image?.name}}"></td>
                <td th:text="${p.reference}">reference</td>
                <td th:text="${p.description}">description</td>
                <td th:text="${p.price}">price</td>
                <td th:text="${p.stock}">stock</td>
                <td><button th:onclick="'handleDeleteProduct('+${p.id}+')'">Supprimmer</button></td>
            </tr>
            </tbody>
        </table>
        <div>
            <h2>Ajouter un produit</h2>
            <input id="add-product-form-name" type="text" placeholder="Nom"/>
            <label for="add-product-form-name">Nom</label>
            <select id="add-product-form-categories">
                <option th:each="c : ${categories}" th:value="${c.name}" th:text="${c.name}"></option>
            </select>
            <label for="add-product-form-categories">Catégories</label>
            <input id="add-product-form-price" type="number" placeholder="Prix"/>
            <label for="add-product-form-price">Prix</label>
            <input id="add-product-form-description" type="text" placeholder="Description"/>
            <label for="add-product-form-description">Description</label>
            <input id="add-product-form-stock" type="text" placeholder="Stock"/>
            <label for="add-product-form-stock">Stock</label>
            <input id="add-product-form-reference" type="text" placeholder="Référence"/>
            <label for="add-product-form-reference">Référence</label>
            <input id="add-product-form-image" type="file" placeholder="Image"/>
            <label for="add-product-form-image">Image</label>
            <button onclick="handleAddProduct()">Ajouter</button>
            <script>
                function handleAddProduct() {
                    const name = document.getElementById('add-product-form-name').value;
                    const category = document.getElementById('add-product-form-categories').value;
                    const price = document.getElementById('add-product-form-price').value;
                    const description = document.getElementById('add-product-form-description').value;
                    const stock = document.getElementById('add-product-form-stock').value;
                    const reference = document.getElementById('add-product-form-reference').value;

                    const file = document.getElementById("add-product-form-image").files[0];
                    file.name = name;
                    let fd = new FormData();
                    fd.append('file', file);
                    console.log(fd)

                    fetch('http://localhost:8080/api/file', {
                        method: 'POST',
                        headers: {
                            'content-type': 'multipart/form-data; boundary=ebf9f03029db4c2799ae16b5428b06bd'
                        },
                        body: fd
                    }).then(res => res.ok).then(res => {
                        console.log(res)
                    })
                    fetch('http://localhost:8080/admin/add/product', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({name, category, price, description, stock, reference})
                    }).then(res => res.ok).then(res => {
                        console.log(res)
                        updateEventProduct()
                    })
                    return false;
                }
            </script>
        </div>
    </div>

    <div id="admin-categories-list">
        <h2>Catégories</h2>
        <ul th:each="c : ${categories}">
            <li th:text="${c.name}">name</li>
            <td><button th:data-name="${c.name}" onclick="handleDeleteCategory(this.getAttribute('data-name'))">Supprimmer</button></td>
        </ul>
        <div>
            <h2>Ajouter une catégorie</h2>
            <input id="add-category-form-name" type="text" placeholder="Nom"/>
            <label for="add-category-form-name">Nom</label>
            <button onclick="handleAddCategory()">Ajouter</button>
            <script>
                function handleAddCategory() {
                    const name = document.getElementById('add-category-form-name').value;
                    fetch('http://localhost:8080/admin/add/category', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({name})
                    }).then(res => res.ok).then(res => {
                        console.log(res)
                        updateEventCategories()
                    })
                    return false;
                }
            </script>
        </div>
    </div>
</div>
</body>
<script>
    const productsList = document.getElementById('admin-products-list');
    const categoriesList = document.getElementById('admin-categories-list');

    productsList.style.display = "none"
    categoriesList.style.display = "none"

    const handleShowUsers = () =>  {
        // Need local reference for dynamique reload fragments
        const usersList = document.getElementById('admin-users-list');
        const productsList = document.getElementById('admin-products-list');
        const categoriesList = document.getElementById('admin-categories-list');
        usersList.style.display = "block"
        productsList.style.display = "none"
        categoriesList.style.display = "none"
    }
    const handleShowProducts = () =>  {
        // Need local reference for dynamique reload fragments
        const usersList = document.getElementById('admin-users-list');
        const productsList = document.getElementById('admin-products-list');
        const categoriesList = document.getElementById('admin-categories-list');
        usersList.style.display = "none"
        productsList.style.display = "block"
        categoriesList.style.display = "none"
    }
    const handleShowCategories = () =>  {
        // Need local reference for dynamique reload fragments
        const usersList = document.getElementById('admin-users-list');
        const productsList = document.getElementById('admin-products-list');
        const categoriesList = document.getElementById('admin-categories-list');
        usersList.style.display = "none"
        productsList.style.display = "none"
        categoriesList.style.display = "block"
    }

    const handleDeleteUser = (id) => {
        console.log(id)
        fetch('http://localhost:8080/admin/delete/user', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(id)
        }).then(res => res.ok).then(res => {
            console.log(res)
            updateEventUser()
        })
        return false;
    }

    const handleDeleteProduct = (id) => {
        console.log(id)
        fetch('http://localhost:8080/admin/delete/product', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(id)
        }).then(res => res.ok).then(res => {
            console.log(res)
            updateEventProduct()
        })
        return false;
    }

    const handleDeleteCategory = (name) => {
        console.log(name)
        fetch('http://localhost:8080/admin/delete/category', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(name)
        }).then(res => res.ok).then(res => {
            console.log(res)
            updateEventCategories()
        })
        return false;
    }

    function updateEventUser() {
        $.get("/admin/fragment/user").done(function(fragment) { // get from controller
            $("#admin-users-list").replaceWith(fragment); // update snippet of page
        });
    }

    function updateEventProduct() {
        $.get("/admin/fragment/product").done(function(fragment) { // get from controller
            $("#admin-products-list").replaceWith(fragment); // update snippet of page
        });
    }

    function updateEventCategories() {
        $.get("/admin/fragment/categories").done(function(fragment) { // get from controller
            $("#admin-categories-list").replaceWith(fragment); // update snippet of page
        });
    }
</script>
</html>