<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <div>
        <h1>Nous contacter</h1>
        <p th:text="${error}" class="error-message">error</p>
        <p th:text="${message}" class="info-message">message</p>
        <form action="#" th:action="@{/contact}" th:object="${contactDTO}" method="post">
            <p>Nom: <input type="text" th:field="*{name}" /></p>
            <p>Prénom: <input type="text" th:field="*{surname}" /></p>
            <p>Message: <input type="text" th:field="*{message}" /></p>
            <p><input type="submit" value="Soumettre" /> <input type="reset" value="Reinitialiser" /></p>
        </form>
    </div>
</body>
</html>