<!DOCTYPE HTML>
<html>
<head> 
    <title>Asimov</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <div class="description">
        <p>
            Avec les meilleures marques des plus grands fabricants,<br />
            Asimov est un distributeur international agréé de semi-conducteurs
            et de composants électroniques.
        </p>
        <p>
            Nous nous spécialisons dans le lancement rapide de nouveaux produits
            et technologies pour les ingénieurs, les concepteurs et les
            acheteurs.
        </p>
    </div>
</body>
</html>