<!DOCTYPE HTML>
<html>
<head> 
    <title>Asimov</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body class="bg-body-secondary" style="background-size: cover; background-repeat: no-repeat; background-image: url('https://media.istockphoto.com/id/1145276351/fr/photo/les-ouvriers-dusine-d%C3%A9lectronique-femelle-dans-le-manteau-de-travail-bleu-et-les-lunettes.jpg?s=612x612&w=0&k=20&c=PRemJ1OwGXb57HH3phjk4YUrYdduh-8_u_kMFKCwDIM=');">
    <div th:insert="~{header :: header}"></div>
    <div class="row" style="height: 30vh;"></div>
    <div class="d-flex justify-content-end align-items-center">
        <div class="h-100 p-5 border rounded-3" style="width: 40vw; background-color:rgba(255, 255, 255, 0.65); margin-right:5vw;">
            <p class="fw-medium fs-4">
                Avec les meilleures marques des plus grands fabricants,<br />
                Asimov est un distributeur international agréé de semi-conducteurs
                et de composants électroniques.
            </p>
            <hr>
            <p class="fw-medium fs-5">
                Nous nous spécialisons dans le lancement rapide de nouveaux produits
                et technologies pour les ingénieurs, les concepteurs et les
                acheteurs.
            </p>
        </div>
    </div>

</body>
</html>