<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body class="bg-body-secondary">
    <div th:insert="~{header :: header}"></div>
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin" >
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Connexion</h1>


                </div>

                <div class="modal-body p-5 pt-0">
                    <p class="error-message text-danger" id="login-form-error"></p>
                    <p class="info-message text-warning" id="login-form-info"></p>
                        <div class="form-floating mb-3">
                            <input id="login-form-mail" class="form-control rounded-3" type="email" placeholder="Email"/>
                            <label for="login-form-mail">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="login-form-password" class="form-control rounded-3" type="password" placeholder="Mot de passe" />
                            <label for="login-form-password">Mot de passe</label>
                        </div>

                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-dark" id="login-form-submit" onclick="processForm()">Connexion</button>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" id="login-form-deconnection" onclick="handleDeconnection()">Déconnexion</button>

                    <script>
                        const errorBox = document.getElementById('login-form-error');
                        const infoBox = document.getElementById('login-form-info');
                        const btnConnexion = document.getElementById('login-form-submit');
                        const btnDeconnexion = document.getElementById('login-form-deconnection');
                        if (sessionStorage.getItem("id") != null) {
                            btnConnexion.style.display = "none"
                        } else {
                            btnDeconnexion.style.display = "none"
                        }

                        const handleDeconnection = () => {
                            sessionStorage.removeItem('id')
                            sessionStorage.removeItem('role')

                            btnDeconnexion.style.display = "none"
                            btnConnexion.style.display = "inline-block"
                            infoBox.innerHTML = "Vous avez été déconnecté"
                            errorBox.innerHTML = ""
                        }

                        const processForm = () => {
                            const email = document.getElementById('login-form-mail').value;
                            const password = document.getElementById("login-form-password").value;

                            fetch('http://localhost:8080/api/login', {
                                method: 'POST',
                                headers: {
                                    'Access-Control-Allow-Origin':'*',
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({email, password})
                            }).then(res => res.json()).then(res => {
                                sessionStorage.setItem("id", res.id);
                                sessionStorage.setItem("role", res.role);
                                btnConnexion.style.display = "none"
                                btnDeconnexion.style.display = "inline-block"
                                infoBox.innerHTML = "Vous êtes connecté"
                                errorBox.innerHTML = ""
                            }).catch( _ => {
                                errorBox.innerHTML = "Erreur: Email ou mot de passe incorrecte"
                                infoBox.innerHTML = ""
                            })
                            return false;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>