<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${category}">cat</title>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <h1 th:text="${category}">category</h1>
    <p th:text="${message}" class="info-message">message</p>
    <table>
        <thead>
        <tr>
            <td>Photo</td>
            <td>Réference</td>
            <td>Description</td>
            <td>Prix</td>
            <td>Stock</td>
            <td>Commande</td>
        </tr>
        </thead>
        <tbody>
            <form id="products-form" action="#" th:action="@{/products/p}" th:object="${categoryProductCommandDTO}" method="post">
                <input id="products-form-category" type="hidden" value="test" th:field="*{categoryName}" th:value="${category}"/>
                <tr th:each="p, itemStat : ${products}">
                    <td><img th:src="@{'/api/file/' + ${p.image.name}}"></td>
                    <td th:text="${p.reference}">reference</td>
                    <td th:text="${p.description}">description</td>
                    <td th:text="${p.price}">price</td>
                    <td th:text="${p.stock}">stock</td>
                    <td>
                        <button>+</button>
                        <input class="products-form-quantity" type="text" th:field="*{quantity[__${itemStat.index}__]}" th:value="*{quantity[__${itemStat.index}__]}"/>
                        <button>-</button>
                    </td>
                </tr>
                <input type="submit" value="Commander" />
            </form>
            <script>
                const form = document.getElementById('products-form');
                if (form.attachEvent) {
                    form.attachEvent("submit", processForm);
                } else {
                    form.addEventListener("submit", processForm);
                }
                function processForm(e) {
                    if (e.preventDefault) e.preventDefault();
                    const categoryName = document.getElementById('products-form-category').value;
                    const b = document.getElementsByClassName("products-form-quantity");

                    let quantity = [];
                    for(let i = 0; i < b.length; i++) {
                        quantity[i] = b.item(i).value
                    }

                        fetch('http://localhost:8080/products/p', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({categoryName, quantity})
                        }).then(res => res.ok).then(res => console.log(res))

                    return false;
                }
            </script>
        </tbody>
    </table>
</body>
</html>