<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${category}">cat</title>
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <h1 th:text="${category}">category</h1>
    <p th:text="${message}" class="info-message">message</p>
    <table>
        <thead>
        <tr>
            <td>Photo</td>
            <td>Réference</td>
            <td>Description</td>
            <td>Prix</td>
            <td>Stock</td>
            <td>Commande</td>
        </tr>
        </thead>
        <tbody>
            <form action="#" th:action="@{/products(categoryName=${category})}" th:object="${categoryProductCommandDTO}" method="post">
                <tr th:each="p, itemStat : ${products}">
                    <td><img th:src="@{'/api/file/' + ${p.image.name}}"></td>
                    <td th:text="${p.reference}">reference</td>
                    <td th:text="${p.description}">description</td>
                    <td th:text="${p.price}">price</td>
                    <td th:text="${p.stock}">stock</td>
                    <td>
                        <button>+</button>
                        <input type="text" th:field="*{quantity[__${itemStat.index}__]}" />
                        <button>-</button>
                    </td>
                </tr>
                <input type="submit" value="Commander" />
            </form>
        </tbody>
    </table>
</body>
</html>