<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
<div th:insert="~{header :: header}"></div>
<div class="container" style="padding-top: 4rem;">
    <h1>Bonjour <span th:text="${user.name}"></span></h1>

<div id="user-command-list" class="">
    <table class="table">
        <thead class="table-secondary">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Produits</th>
            <th scope="col">Adresse de livraison</th>
            <th scope="col">Pays</th>
            <th scope="col">ZIP Code</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="c : ${commands}">
            <td th:text="${c.family_name}">name</td>
            <td th:text="${c.name}">surname</td>
            <table>
                <tr th:each="p : ${c.products}">
                    <td ><img style="height: 5rem;" th:src="@{'/api/file/' + ${p.product.image}}"></td>
                    <td th:text="${p.product.name}">name</td>
                    <td th:text="${p.quantity}">quantity</td>
                </tr>
            </table>
            <td th:text="${c.address}">adress</td>
            <td th:text="${c.country}">country</td>
            <td th:text="${c.zip_code}">zip</td>
            <td th:text="${c.price}">price</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>